@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-slate-800;
  }
  [type="text"]:focus,
  input:where(:not([type])):focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    border-color: theme("colors.primary.600");
    --tw-ring-color: theme("colors.primary.600");
  }

  [type="checkbox"]:focus,
  [type="radio"]:focus {
    --tw-ring-color: theme("colors.primary.600");
  }
}
@layer components {
  button,
  [role="button"] {
    @apply select-none;
  }
}
